:root {
    --red: red;
    --green: green;
    --purple: purple;
    --light-red: #FFCCCB;
    --light-green: #90EE90;
    --light-purple: #CBC3E3
}

.card {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    filter: drop-shadow(5px 5px 5px black);
    height: 180px;
    margin: 15px;
    width: 120px;
}

.card:hover {
    cursor: pointer;
}

.symbol {
    font-size: 50px;
    line-height: 50px;
}

.card.red .symbol {
    color: var(--red);
}

.card.green .symbol {
    color: var(--green);
}

.card.purple .symbol {
    color: var(--purple);
}

.card.red.stripe {
    background-image: repeating-linear-gradient(
        135deg,
        var(--light-red),
        var(--light-red) 2px,
        white 2px,
        white 4px
    );
}

.card.purple.stripe {
    background-image: repeating-linear-gradient(
        135deg,
        var(--light-purple),
        var(--light-purple) 2px,
        white 2px,
        white 4px
    );
}

.card.green.stripe {
    background-image: repeating-linear-gradient(
        135deg,
        var(--light-green),
        var(--light-green) 2px,
        white 2px,
        white 4px
    );
}

.card.red.solid {
    background-color: var(--light-red)
}

.card.green.solid {
    background-color: var(--light-green)
}

.card.purple.solid {
    background-color: var(--light-purple)
}

.card.selected {
    filter: drop-shadow(5px 5px 5px gold);
}

.symbol-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
